[user]
	name = kawofong
	email = 14829553+kawofong@users.noreply.github.com
[github]
	user = kawofong
[color]
	ui = true
[core]
	editor = code --wait
[diff]
    tool = vscode-difftool
[difftool "vscode-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[push]
	autoSetupRemote = true
